<nav class='' id='main-nav'>
	<div class='navigation'>
		<ul class='nav nav-stacked'>
			<li class='active'>
				<a href='index'>
					<i class='icon-dashboard'></i>
					<span>仪表盘</span>
				</a>
			</li>
			<li >
				<a class='dropdown-collapse' href='#'>
					<i class='icon-edit'></i>
					<span>顾客管理</span>
					<i class='icon-angle-down angle-down'></i>
				</a>
				<ul class='nav nav-stacked'>
					<li >
						<a href='customerAdd'>
							<i class='icon-caret-right'></i>
							<span>顾客信息录入</span>
						</a>
					</li>
					<li >
						<a href='customerQuery'>
							<i class='icon-caret-right'></i>
							<span>顾客信息查询</span>
						</a>
					</li>
				</ul>
			</li>
			<li >
				<a class='dropdown-collapse' href='#'>
					<i class='icon-tint'></i>
					<span>工单管理</span>
					<i class='icon-angle-down angle-down'></i>
				</a>
				<ul class='nav nav-stacked'>
					<li >
						<a href='orderModel'>
							<i class='icon-caret-right'></i>
							<span>工单模板管理</span>
						</a>
					</li>
					<li >
						<a href='orderDeal'>
							<i class='icon-caret-right'></i>
							<span>工单处理</span>
						</a>
					</li>
					<li >
						<a href='orderRecord'>
							<i class='icon-caret-right'></i>
							<span>工单记录</span>
						</a>
					</li>
				</ul>
			</li>
			<li >
				<a class='dropdown-collapse' href='#'>
					<i class='icon-star'></i>
					<span>报表管理</span>
					<i class='icon-angle-down angle-down'></i>
				</a>
				<ul class='nav nav-stacked'>
					<li >
						<a href='reportOut'>
							<i class='icon-caret-right'></i>
							<span>呼出报表</span>
						</a>
					</li>
					<li >
						<a href='reportIn'>
							<i class='icon-caret-right'></i>
							<span>呼入报表</span>
						</a>
					</li>
					<li >
						<a href='reportQc'>
							<i class='icon-caret-right'></i>
							<span>质检报表</span>
						</a>
					</li>
				</ul>
			</li>
			<li >
				<a class='dropdown-collapse' href='#'>
					<i class='icon-cogs'></i>
					<span>呼叫管理</span>
					<i class='icon-angle-down angle-down'></i>
				</a>
				<ul class='nav nav-stacked'>
					<li >
						<a href='callOut'>
							<i class='icon-caret-right'></i>
							<span>呼出管理</span>
						</a>
					</li>
					<li >
						<a href='callIn'>
							<i class='icon-caret-right'></i>
							<span>呼入管理</span>
						</a>
					</li>
				</ul>
			</li>
			<li >
				<a class='dropdown-collapse' href='#'>
					<i class='icon-table'></i>
					<span>录音质检</span>
					<i class='icon-angle-down angle-down'></i>
				</a>
				<ul class='nav nav-stacked'>
					<li >
						<a href='qcModel'>
							<i class='icon-caret-right'></i>
							<span>质检模板管理</span>
						</a>
					</li>
					<li >
						<a href='qcDeal'>
							<i class='icon-caret-right'></i>
							<span>录音质检</span>
						</a>
					</li>
					<li >
						<a href='qcRecord'>
							<i class='icon-caret-right'></i>
							<span>质检记录</span>
						</a>
					</li>
				</ul>
			</li>
			<li >
				<a class='dropdown-collapse' href='#'>
					<i class='icon-th'></i>
					<span>个人中心</span>
					<i class='icon-angle-down angle-down'></i>
				</a>
				<ul class='nav nav-stacked'>
					<li >
						<a href='user'>
							<i class='icon-caret-right'></i>
							<span>账号管理</span>
						</a>
					</li>
					<li >
						<a href='userRePwd'>
							<i class='icon-caret-right'></i>
							<span>修改密码</span>
						</a>
					</li>
				</ul>
			</li>
			<li >
				<a class='dropdown-collapse' href='#'>
					<i class='icon-book'></i>
					<span>关于系统</span>
					<i class='icon-angle-down angle-down'></i>
				</a>
				<ul class='nav nav-stacked'>
					<li >
						<a href='website'>
							<i class='icon-caret-right'></i>
							<span>关于网站</span>
						</a>
					</li>
					<li >
						<a href='author'>
							<i class='icon-caret-right'></i>
							<span>关于作者</span>
						</a>
					</li>
					<li >
						<a href='version'>
							<i class='icon-caret-right'></i>
							<span>系统版本</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<% include ./footer.html %>
</nav>