<header>
	<div class='navbar'>
		<div class='navbar-inner'>
			<div class='container-fluid'>
				<a class='brand' href='index'>
					<img src="assets/images/favicon.ico" style="width: 20px;height: 20px;"/>
					<span class='hidden-phone'>CRM系统</span>
				</a>
				<a class='toggle-nav btn pull-left' href='#'>
					<i class='icon-reorder'></i>
				</a>
				<ul class='nav pull-right'>
					<li class='dropdown dark user-menu'>
						<a class='dropdown-toggle' data-toggle='dropdown' href='#'>
							欢迎您，<span id="login_name" class='user-name hidden-phone'>默认值</span>
							<b class='caret'></b>
						</a>
						<ul class='dropdown-menu'>
							<li>
								<a href='user'>
									<i class='icon-user'></i> 个人信息
								</a>
							</li>
							<li class='divider'></li>
							<li>
								<a href='login'>
									<i class='icon-signout'></i> 退出
								</a>
							</li>
						</ul>
					</li>
				</ul>
				<form accept-charset="UTF-8" action="search_results" class="navbar-search pull-right hidden-phone" method="get" >
					<div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
					<button class="btn btn-link icon-search" name="button" type="button"></button>
					<input autocomplete="off" class="search-query span2" id="q_header" name="q" placeholder="搜索" type="text" value="" />
				</form>
			</div>
		</div>
	</div>
	<div id="messageTitle" style="position: absolute; z-index: 99;text-align:center;width: 80%;" class="animated bounceInDown">
		<p v-if="show" style="background-color: #FF1111;">登录超时，请重新登录</p>
	</div>
	<script type="text/javascript">
       $(function(){
	       	/**
	       	 * $.parseJSON(str);//字符串转对象
	       	 * JSON.stringify(obj);//对象转字符串
	       	 */
	   		var userAllInfo=$.session.get("loginUserAllInfo_crm");
	   		if (typeof(userAllInfo) == "undefined" ) {
	   			window.location.href = '/login';
	   		}
	   		new Vue({
   				el:"#messageTitle",
   				data:{show:false}
   			});
	   		var userAllInfoJson=$.parseJSON(userAllInfo);
	        var user=userAllInfoJson["user"];//返回的还是一个json对象
	        var login_name=user["login_name"];
	        $("#login_name").html(login_name);
       });
    </script>
</header>