<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>CRM系统</title>
		<meta name="author" content="WLL">
		<% include ./components/scriptCSS.html %>
		<% include ./components/scriptJS.html %>
		<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- The fav icon -->
		<link rel="shortcut icon" href="assets/images/favicon.ico">
	</head>
	<body class='contrast-red'>
		<style>
			html { overflow-x: hidden; overflow-y: auto; }
		</style>
		<% include ./components/topBar.html %>
		<div id='wrapper'>
			<div id='main-nav-bg'></div>
			<% include ./components/leftMenu.html %>
			<% include ./components/noScript.html %>
			<section id='content'>
				<div class='container-fluid'>
					<div class='row-fluid' id='content-wrapper'>
						<div class='span12'>
							<div class='page-header'>
								<h1 class='pull-left'>
        							<i class='icon-dashboard'></i>
        							<span>呼叫管理</span>
   			 					</h1>
								<div class='pull-right'>
									<ul class='breadcrumb'>
	                                    <li>
	                                        <a href="index"><i class='icon-bar-chart'></i>
	                                        </a>
	                                    </li>
	                                    <li class='separator'>
	                                        <i class='icon-angle-right'></i>
	                                    </li>
	                                    <li>
	                                       呼叫管理
	                                    </li>
	                                    <li class='separator'>
	                                        <i class='icon-angle-right'></i>
	                                    </li>
	                                    <li>
	                                       呼出管理
	                                    </li>
	                                </ul>
								</div>
							</div>
							<div class='row-fluid'>
								<div class="span12 box ">
	                                <a>坐席工号：</a>
	                                <input class="" placeholder="请输入坐席工号" id="" type="text">
	                                &nbsp;&nbsp;
	                                <a>顾客电话：</a>
	                                <input class="" placeholder="请输入顾客电话" id="" type="text">
	                                <button class="btn btn-primary btn-success">
			                            <i class="icon-search"></i>
			                            	查询
			                        </button>
								</div>
								<div class='span12 box bordered-box blue-border' style='margin-bottom:0;'>
									<div class='box-header blue-background'>
										<div class='title'>呼出管理</div>
										<div class='actions'>
											<a href="#" class="btn box-remove btn-mini btn-link"><i class='icon-remove'></i>
											</a>
											<a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
											</a>
										</div>
									</div>
									<div class='box-content box-no-padding'>
										<div class='responsive-table'>
											<div class='scrollable-area'>
												<table class='table' style='margin-bottom:0;'>
													<thead>
														<tr>
															<th>
																编号
															</th>
															<th>
																顾客姓名
															</th>
															<th>
																顾客电话
															</th>
															<th>
																坐席工号
															</th>
															<th>
																呼出时间
															</th>
															<th>
																通话时长（秒）
															</th>
															<th>
																操作
															</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>1</td>
															<td>小新</td>
															<td>1361234567</td>
															<td>5001</td>
															<td>2018.04.01 19:10:15</td>
															<td>23</td>
															<td>
																<a class='btn btn-success btn-mini' href='#'>
																	<i class='icon-edit'></i>
																</a>
																<a class='btn btn-success btn-mini' href='#'>
																	<i class='icon-ok'></i>
																</a>
																<a class='btn btn-danger btn-mini' href='#'>
																	<i class='icon-remove'></i>
																</a>
															</td>
														</tr>
													</tbody>
												</table>
												<div class="span6 text-right">
													<div class="dataTables_paginate paging_bootstrap pagination pagination-small">
														<ul>
															<li class="prev disabled">
																<a href="#">← Previous</a>
															</li>
															<li class="active">
																<a href="#">1</a>
															</li>
															<li class="next disabled">
																<a href="#">Next → </a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>