<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>CRM系统</title>
		<meta name="author" content="WLL">
		<% include ./components/scriptCSS.html %>
		<% include ./components/scriptJS.html %>
		<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- The fav icon -->
		<link rel="shortcut icon" href="assets/images/favicon.ico">
	</head>

	<body class='contrast-red'>
		<style>
			html {
				overflow-x: hidden;
				overflow-y: auto;
			}
		</style>
		<% include ./components/topBar.html %>
		<div id='wrapper'>
			<div id='main-nav-bg'></div>
			<% include ./components/leftMenu.html %>
			<% include ./components/noScript.html %>
			<section id='content'>
				<div class='container-fluid'>
					<div class='row-fluid' id='content-wrapper'>
						<div class='span12'>
							<div class='page-header'>
								<h1 class='pull-left'>
        							<i class='icon-dashboard'></i>
        							<span>顾客管理</span>
   			 					</h1>
								<div class='pull-right'>
									<ul class='breadcrumb'>
										<li>
											<a href="index"><i class='icon-bar-chart'></i>
											</a>
										</li>
										<li class='separator'>
											<i class='icon-angle-right'></i>
										</li>
										<li>
											顾客管理
										</li>
										<li class='separator'>
											<i class='icon-angle-right'></i>
										</li>
										<li>
											顾客信息查询
										</li>
									</ul>
								</div>
							</div>
							<div class='row-fluid' id="havaTable" >
								<div class="span12 box ">
	                                <a>姓名：</a>
	                                <input class="" placeholder="请输入顾客姓名" id="_name" type="text">
	                                &nbsp;&nbsp;
	                                <a>电话：</a>
	                                <input class="" placeholder="请输入顾客电话" id="_phone" type="text">
	                                &nbsp;&nbsp;
	                                <a>邮箱：</a>
	                                <input class="" placeholder="请输入顾客邮箱" id="_email" type="text">
	                                <button @click="queryBut(1)" class="btn btn-primary btn-success">
			                            <i class="icon-search"></i>
			                            	查询
			                        </button>
								</div>
								<div class='span12 box bordered-box blue-border' style='margin-bottom:0;'>
									<div class='box-header blue-background'>
										<div class='title'>顾客信息查询</div>
										<div class='actions'>
											<a href="#" class="btn box-remove btn-mini btn-link"><i class='icon-remove'></i>
											</a>
											<a href="#" class="btn box-collapse btn-mini btn-link"><i></i>
											</a>
										</div>
									</div>
									<div class='box-content box-no-padding'>
										<div class='responsive-table'>
											<div class='scrollable-area'>
												<table class='table' style='margin-bottom:0;'>
													<thead>
														<tr>
															<th>
																编号
															</th>
															<th>
																姓名
															</th>
															<th>
																性别
															</th>
															<th>
																电话
															</th>
															<th>
																邮箱
															</th>
															<th>
																家庭住址
															</th>
															<th>
																操作
															</th>
														</tr>
													</thead>
													<tbody>
														<template>
															<tr v-for="(todo,index) in todos" class="trClass">
																<td>{{index+1}}</td>
																<td v-text="todo.name"></td>
																<td v-text="todo.sex"></td>
																<td v-text="todo.phone"></td>
																<td v-text="todo.email"></td>
																<td v-text="todo.address"></td>
																<td>
																	<a @click="viewBut(index)" class='btn btn-success btn-mini editClass' data-toggle="modal" data-target="#myModal">
																		<i class='icon-edit'></i>
																	</a>
																	<a @click="removeBut(index)" class='btn btn-danger btn-mini removeClass' >
																		<i class='icon-remove'></i>
																	</a>
																</td>
															</tr>
														</template>
													</tbody>
												</table>
												<!-- 模态框（Modal）弹出框 -->
												<div style="z-index: -99;" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
																	&times;
																</button>
																<h4 class="modal-title" id="myModalLabel">
																	顾客信息
																</h4>
															</div>
															<div class="modal-body">
																<div class='control-group info'>
																	<label class='control-label' for='inputInfo'>姓名：</label>
																	<div class='controls'>
																		<input id='viewName' class="span12" value="默认值" type='text' />
																	</div>
																</div>
																<div class='control-group info'>
																	<label class='control-label' for='inputInfo'>性别：</label>
																	<div class='controls'>
																		<input id='viewSex' class="span12" value="默认值" type='text' />
																	</div>
																</div>
																<div class='control-group info'>
																	<label class='control-label' for='inputInfo'>电话：</label>
																	<div class='controls'>
																		<input id='viewPhone' class="span12" value="默认值" type='text' />
																	</div>
																</div>
																<div class='control-group info'>
																	<label class='control-label' for='inputInfo'>邮箱：</label>
																	<div class='controls'>
																		<input id='viewEmail' class="span12" value="默认值" type='text' />
																	</div>
																</div>
																<div class='control-group info'>
																	<label class='control-label' for='inputInfo'>家庭住址：</label>
																	<div class='controls'>
																		<input id='viewAddress' class="span12" value="默认值" type='text' />
																	</div>
																</div>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">关闭
																</button>
																<button @click="editBut()" id="determineBut" type="button" class="btn btn-primary" data-dismiss="modal">
																	确定
																</button>
															</div>
														</div>
													</div>
												</div>
												<div class="">
													<div class="dataTables_paginate paging_bootstrap pagination pagination-small">
														<ul>
															<li>
																<!--以下nav是分页代码-->
																<nav arialabel="page navigation" class="pagenavouter" id="PageNavId"></nav>
															</li>
															<li>
																<strong >总条数：<a id="count">0</a></strong>
															</li>
															<li>
																<strong >总页数：<a id="countPage">1</a></strong>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<script type="text/javascript">
			$(function() {
				var goodsVue =new Vue({
					el:"#havaTable",
					data:{
						todos:'',
						_index:1,//指示当前选择的是第几条数据
						pageNavObj:null//分页的对象
					},
					methods:{
						spliceGetStr:function(params){//拼接get请求
							var strTemp="";
			       			for (var variable in params) {
			       				strTemp+=variable+"="+params[variable]+"&"
			       			}
			       			if(strTemp.length>0){
			       				strTemp=strTemp.substr(0,strTemp.length-1);
			       			}
			       			return strTemp;
						},
						getItem:function(_self,index){//得到点击的是哪条数据,返回该条记录
							var _todosStr=JSON.stringify(_self.todos);
							var _todosArr=JSON.parse(_todosStr);
							var _item=_todosArr[index];
				    		return _item;
						},
						getItemId:function(_self,index){//得到点击的是哪条数据,返回该条记录的id
							var _item=this.getItem(_self,index);
							var _itemId=_item["id"];
				    		return _itemId;
						},
						getDataBySession:function(){//从session中获取数据,拼接在header变量中
							var userAllInfo=$.session.get("loginUserAllInfo_crm");
					   		var userAllInfoJson=$.parseJSON(userAllInfo);
					        var sessionId=userAllInfoJson["id"];//返回的还是一个json对象
					        var user=userAllInfoJson["user"];
					        var user_id=user["id"];
				    		var _headers= {
								"sessionId":sessionId,
								"user_id":user_id
							}
				    		return _headers;
						},
						loadPaging:function(count,_pageNo){//分页函数
							var pageNum=Math.ceil(count/10);//计算总页数
							$("#count").html(count);
						    $("#countPage").html(pageNum<=0?1:pageNum);
						    //下面开始分页
				            this.pageNavObj = new PageNavCreate("PageNavId",{
				                pageCount:pageNum,//总页数
				                currentPage:_pageNo,//当前页
				                perPageNum:5,//每页按钮数
				            });
				            this.pageNavObj.afterClick(this.sendQuery);
						},
						sendQuery:function(_pageNo){//发送ajax请求，获取指定条件的、带分页的数据
							var _self = this;
							var params ={
				    			name: $("#_name").val(),
				    			phone: $("#_phone").val(),
				    			email: $("#_email").val(),
				    			pageNo:_pageNo,
				    			pageSize:10,
				    			token:"crm"
				    		};
				    		var paramsGetStr="?"+this.spliceGetStr(params);
				    		//从session中获取数据，拼接到header中
				    		var _headers=this.getDataBySession();
				    		$.ajax({
							    url:'http://localhost:7001/customer/'+paramsGetStr,
							    type:'get',
							    dataType:'text',
							    headers:_headers,
							    success: function(_data){
							    	var infoRes=$.parseJSON(_data);//返回的数据，包含时间戳等
						        	var infoData=infoRes["data"];//取到data
						        	var count=infoRes["count"];//取到数据总条数
						        	var pageNum=Math.ceil(count/10);//计算总页数
						        	if(infoData==""){
						        		_self.todos = '';
						        		alert("查询为空");
						        	}else{
						        		_self.todos = infoData;//设置表格里面的数据
						        		console.log("获取到的数据是："+JSON.stringify(_self.todos));
						        		_self.loadPaging(count,_pageNo);//分页
						        	}
							    },
							    error: function(res){
					            	alert("查询失败");
					            }
							});
						},
						queryBut:function(_pageNo){//点击查询按钮
							this.sendQuery(_pageNo);
						},
						viewBut:function(index){//查看指定某一条的数据
							var _self = this;
							_self._index=index;//把查看的是哪一条记录下来
							//得到点击的是哪条数据
							var _itemId=this.getItemId(_self,index);
				    		//从session中获取数据，拼接到header中
				    		var _headers=this.getDataBySession();
				    		$.ajax({
							    url:'http://localhost:7001/customer/'+_itemId,
							    type:'get',
							    dataType:'text',
							    headers:_headers,
							    success: function(_data){
							    	$("#myModal").css("z-index","");//让弹框显示出来
							    	var infoRes=$.parseJSON(_data);//返回的数据，包含时间戳等
						        	var infoData=infoRes["data"];//取到data
						        	if(infoData==""){
						        		alert("操作异常");
						        	}else{
						        		$("#viewName").val(infoData["name"]); 
						        		$("#viewSex").val(infoData["sex"]); 
						        		$("#viewPhone").val(infoData["phone"]); 
						        		$("#viewEmail").val(infoData["email"]); 
						        		$("#viewAddress").val(infoData["address"]); 
						        	}
							    },
							    error: function(res){
					            	alert("查看失败");
					            }
							});
						},
						editBut:function(){//编辑按钮
							var _self = this;
							var index=_self._index;//拿到选择的哪一行
							//得到点击的是哪条数据
							var _itemId=this.getItemId(_self,index);
				    		//从session中获取数据，拼接到header中
				    		var _headers=this.getDataBySession();
				    		//获取修改之前的数据
				    		var _item=this.getItem(_self,index);
				    		//整理新的数据
				    		_item["name"]=$("#viewName").val();
				    		_item["sex"]=$("#viewSex").val();
				    		_item["phone"]=$("#viewPhone").val();
				    		_item["email"]=$("#viewEmail").val();
				    		_item["address"]=$("#viewAddress").val();
				    		var params ={//不传token
				    			customer:_item
				    		};
				    		$.ajax({
							    url:'http://localhost:7001/customer/'+_itemId,
							    type:'put',
							    dataType:'text',
							    data: JSON.stringify(params),
							    headers:_headers,
							    success: function(_data){
							    	alert("修改成功");
							    	var _todosStr=JSON.stringify(_self.todos);
									var _todosArr=JSON.parse(_todosStr);
									_todosArr[index]=_item;
							    	_self.todos = _todosArr;//更新显示的数据
							    },
							    error: function(res){
					            	alert("编辑失败");
					            }
							});
						},
						removeBut:function(index){//删除按钮
							var _self = this;
							//得到点击的是哪条数据
							var _itemId=this.getItemId(_self,index);
				    		//从session中获取数据，拼接到header中
				    		var _headers=this.getDataBySession();
				    		$.ajax({
							    url:'http://localhost:7001/customer/'+_itemId,
							    type:'delete',
							    dataType:'text',
							    headers:_headers,
							    success: function(_data){
							    	alert("删除成功");
							    	_self.todos.splice(index,1);//第一个参数是下标，第二个参数是删除的数量 
							    },
							    error: function(res){
					            	alert("删除失败");
					            }
							});
						}
					}
				})
			})
	    </script>
	</body>

</html>