<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>CRM系统</title>
		<meta name="author" content="WLL">
		<% include ./components/scriptCSS.html %>
		<% include ./components/scriptJS.html %>
		<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- The fav icon -->
		<link rel="shortcut icon" href="assets/images/favicon.ico">
	</head>
	<body class='contrast-red'>
		<style>
			html { overflow-x: hidden; overflow-y: auto; }
		</style>
		<% include ./components/topBar.html %>
		<div id='wrapper'>
			<div id='main-nav-bg'></div>
			<% include ./components/leftMenu.html %>
			<% include ./components/noScript.html %>
			<section id='content'>
				<div class='container-fluid'>
					<div class='row-fluid' id='content-wrapper'>
						<div class='span12'>
							<div class='page-header'>
								<h1 class='pull-left'>
        							<i class='icon-dashboard'></i>
        							<span>工单管理</span>
   			 					</h1>
								<div class='pull-right'>
									<ul class='breadcrumb'>
	                                    <li>
	                                        <a href="index"><i class='icon-bar-chart'></i>
	                                        </a>
	                                    </li>
	                                    <li class='separator'>
	                                        <i class='icon-angle-right'></i>
	                                    </li>
	                                    <li>
	                                       工单管理
	                                    </li>
	                                    <li class='separator'>
	                                        <i class='icon-angle-right'></i>
	                                    </li>
	                                    <li>
	                                       工单模版管理
	                                    </li>
	                                </ul>
								</div>
							</div>
							<div class='row-fluid'>
								
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>